{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Главная{% endblock %} | Доска объявлений</title>
    <link rel="stylesheet" type="text/css" href="{% static 'bboard/style.css' %}">
</head>
<body>

<ul>
    <li><a href="{% url 'default-bboard:index' %}">Главная-default</a></li>
    <li><a href="{% url 'other-bboard:index' %}">Главная-other</a></li>
{% for rubric in rubrics %}
    <li><a href="{% url 'default-bboard:by_rubric' rubric.pk %}">{{ rubric.name }}</a></li>
{% endfor %}
</ul>

{% block content %}

{% endblock %}

<footer>

</footer>

</body>
</html>